  /* Styl dla modala */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
  }

  /* Styl dla zawartości modala */
  .modal-content {
    margin: auto;
    display: block;
    position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 700px;
    max-height: 80%;
  }

  /* Styl dla obrazka w modalu */
  .modal-content img {
    width: 100%;
    height: auto;
    display: block;
  }

/* Styl dla przycisku zamknięcia */
.close {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px; /* zmieniony odstęp z prawej strony na 10px */
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
  }

  /* Styl dla przycisku zamknięcia po najechaniu */
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }


  /* MAP */

  /*
 * Property styles in unhighlighted state.
 */

 :root {
  --building-color: #e78e09;
  --house-color: #43718a;
  --shop-color: #007BFF;
  --warehouse-color: #eee025;
  --thumbs-up-color: #28a745;
  --ban-color: #dc3545;
  --phone-color: #ffc107;
  --clipboard-question-color: #6c757d;
  --exclamation-color: #e70909;

  --shop-color-0-0: #6c757d;
  --shop-color-0-1: #6c757d;
  --shop-color-0-2: #6c757d;
  --shop-color-0-3: #6c757d;
  --shop-color-0-4: #6c757d;
  --shop-color-0-5: #6c757d;

  --shop-color-1-0: #e6f9e6;
  --shop-color-1-1: #b3e6b3;
  --shop-color-1-2: #80d480;
  --shop-color-1-3: #4d994d;
  --shop-color-1-4: #267326;
  --shop-color-1-5: #0f400f;

  --shop-color-2-0: #ffe9cc;
  --shop-color-2-1: #ffcc99;
  --shop-color-2-2: #ff9966;
  --shop-color-2-3: #ff6600;
  --shop-color-2-4: #cc5200;
  --shop-color-2-5: #803300;

  --shop-color-3-0: #f2e6ff;
  --shop-color-3-1: #d9b3ff;
  --shop-color-3-2: #bf80ff;
  --shop-color-3-3: #a64dff;
  --shop-color-3-4: #7326cc;
  --shop-color-3-5: #400080;

  --shop-color-4-0: #ffe6e6;
  --shop-color-4-1: #ffb3b3;
  --shop-color-4-2: #ff8080;
  --shop-color-4-3: #ff4d4d;
  --shop-color-4-4: #cc0000;
  --shop-color-4-5: #800000;

  --shop-color-5-0: #e6f0ff;
  --shop-color-5-1: #b3d1ff;
  --shop-color-5-2: #80b3ff;
  --shop-color-5-3: #4d94ff;
  --shop-color-5-4: #0066cc;
  --shop-color-5-5: #003366;
}
.shop-1 {
  background-color: var(--shop-color-1-2)!important;
}
.shop-2 {
  background-color: var(--shop-color-2-2)!important;
}
.shop-3 {
  background-color: var(--shop-color-3-2)!important;
}
.shop-4 {
  background-color: var(--shop-color-4-2)!important;
}
.shop-5 {
  background-color: var(--shop-color-5-2)!important;
}

.property {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 50%;
  color: #263238;
  display: flex;
  font-size: 14px;
  gap: 15px;
  height: 40px;
  justify-content: center;
  padding: 4px;
  position: relative;
  position: relative;
  transition: all 0.3s ease-out;
  width: 40px;
}

.property::after {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #FFFFFF;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  top: 95%;
  transform: translate(-50%, 0);
  transition: all 0.3s ease-out;
  width: 0;
  z-index: 1;
}

.property .icon {
  align-items: center;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
}

.property .icon svg {
  height: 20px;
  width: auto;
}

.property .details {
  display: none;
  flex-direction: column;
  flex: 1;
}

.property .address {
  color: #9E9E9E;
  font-size: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.property .features {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.property .features > div {
  align-items: center;
  background: #F5F5F5;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  font-size: 10px;
  gap: 5px;
  padding: 5px;
}

/*
 * Property styles in highlighted state.
 */
.property.highlight {
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  height: 120px;
  padding: 8px 15px;
  width: auto;
}

.property.highlight::after {
  border-top: 9px solid #FFFFFF;
}

.property.highlight .details {
  display: flex;
}

.property.highlight .icon svg {
  width: 50px;
  height: 50px;
}

.property .bed {
  color: #FFA000;
}
.property .gr {
  color: #6c757d;
}

.property .bath {
  color: #03A9F4;
}

.property .gift {
  color: #e71b1b;
}

/*
 * House icon colors.
 */
.property.highlight:has(.fa-house) .icon {
  color: var(--house-color);
}

.property:not(.highlight):has(.fa-house) {
  background-color: var(--house-color);
}

.property:not(.highlight):has(.fa-house)::after {
  border-top: 9px solid var(--house-color);
}

/*
 * Building icon colors.
 */
.property.highlight:has(.fa-building) .icon {
  color: var(--building-color);
}

.property:not(.highlight):has(.fa-building) {
  background-color: var(--building-color);
}

.property:not(.highlight):has(.fa-building)::after {
  border-top: 9px solid var(--building-color);
}

/*
 * Warehouse icon colors.
 */
.property.highlight:has(.fa-warehouse) .icon {
  color: var(--warehouse-color);
}

.property:not(.highlight):has(.fa-warehouse) {
  background-color: var(--warehouse-color);
}

.property:not(.highlight):has(.fa-warehouse)::after {
  border-top: 9px solid var(--warehouse-color);
}

  .property.highlight:has(.fa-thumbs-up) .icon {
    color: var(--thumbs-up-color);
  }
  
  .property:not(.highlight):has(.fa-thumbs-up) {
    background-color: var(--thumbs-up-color);
  }
  
  .property:not(.highlight):has(.fa-thumbs-up)::after {
    border-top: 9px solid var(--thumbs-up-color);
  }

 .property.highlight:has(.fa-ban) .icon {
  color: var(--ban-color);
}

.property:not(.highlight):has(.fa-ban) {
  background-color: var(--ban-color);
}

.property:not(.highlight):has(.fa-ban)::after {
  border-top: 9px solid var(--ban-color);
}

.property.highlight:has(.fa-phone) .icon {
  color: var(--phone-color);
}

.property:not(.highlight):has(.fa-phone) {
  background-color: var(--phone-color);
}

.property:not(.highlight):has(.fa-phone)::after {
  border-top: 9px solid var(--phone-color);
}

.property.highlight:has(.fa-clipboard-question) .icon {
  color: var(--clipboard-question-color);
}

.property:not(.highlight):has(.fa-clipboard-question) {
  background-color: var(--clipboard-question-color);
}

.property:not(.highlight):has(.fa-clipboard-question)::after {
  border-top: 9px solid var(--clipboard-question-color);
}

/*
 * Shop icon colors.
 */
.property.highlight:has(.fa-shop) .icon {
  color: var(--shop-color);
}

.property:not(.highlight):has(.fa-shop) {
  background-color: var(--shop-color);
}

.property:not(.highlight):has(.fa-shop)::after {
  border-top: 9px solid var(--shop-color);
}
/*--shop-color-1-0: #e6f9e6;
  --shop-color-1-1: #b3e6b3;
  --shop-color-1-2: #80d480;
  --shop-color-1-3: #4d994d;
  --shop-color-1-4: #267326;
  --shop-color-1-5: #0f400f;

  --shop-color-2-0: #ffe9cc;
  --shop-color-2-1: #ffcc99;
  --shop-color-2-2: #ff9966;
  --shop-color-2-3: #ff6600;
  --shop-color-2-4: #cc5200;
  --shop-color-2-5: #803300;

  --shop-color-3-0: #f2e6ff;
  --shop-color-3-1: #d9b3ff;
  --shop-color-3-2: #bf80ff;
  --shop-color-3-3: #a64dff;
  --shop-color-3-4: #7326cc;
  --shop-color-3-5: #400080;

  --shop-color-4-0: #ffe6e6;
  --shop-color-4-1: #ffb3b3;
  --shop-color-4-2: #ff8080;
  --shop-color-4-3: #ff4d4d;
  --shop-color-4-4: #cc0000;
  --shop-color-4-5: #800000;*/

.property.highlight:has(.my-shop-1-0) .icon {
  color: var(--shop-color-1-0);
}
.property:not(.highlight):has(.my-shop-1-0) {
  background-color: var(--shop-color-1-0);
}
.property:not(.highlight):has(.my-shop-1-0)::after {
  border-top: 9px solid var(--shop-color-1-0);
}


.property.highlight:has(.my-shop-1-1) .icon {
  color: var(--shop-color-1-1);
}
.property:not(.highlight):has(.my-shop-1-1) {
  background-color: var(--shop-color-1-1);
}
.property:not(.highlight):has(.my-shop-1-1)::after {
  border-top: 9px solid var(--shop-color-1-1);
}


.property.highlight:has(.my-shop-1-2) .icon {
  color: var(--shop-color-1-2);
}
.property:not(.highlight):has(.my-shop-1-2) {
  background-color: var(--shop-color-1-2);
}
.property:not(.highlight):has(.my-shop-1-2)::after {
  border-top: 9px solid var(--shop-color-1-2);
}


.property.highlight:has(.my-shop-1-3) .icon {
  color: var(--shop-color-1-3);
}
.property:not(.highlight):has(.my-shop-1-3) {
  background-color: var(--shop-color-1-3);
}
.property:not(.highlight):has(.my-shop-1-3)::after {
  border-top: 9px solid var(--shop-color-1-3);
}


.property.highlight:has(.my-shop-1-4) .icon {
  color: var(--shop-color-1-4);
}
.property:not(.highlight):has(.my-shop-1-4) {
  background-color: var(--shop-color-1-4);
}
.property:not(.highlight):has(.my-shop-1-4)::after {
  border-top: 9px solid var(--shop-color-1-4);
}


.property.highlight:has(.my-shop-1-5) .icon {
  color: var(--shop-color-1-5);
}
.property:not(.highlight):has(.my-shop-1-5) {
  background-color: var(--shop-color-1-5);
}
.property:not(.highlight):has(.my-shop-1-5)::after {
  border-top: 9px solid var(--shop-color-1-5);
}






.property.highlight:has(.my-shop-2-0) .icon {
  color: var(--shop-color-2-0);
}
.property:not(.highlight):has(.my-shop-2-0) {
  background-color: var(--shop-color-2-0);
}
.property:not(.highlight):has(.my-shop-2-0)::after {
  border-top: 9px solid var(--shop-color-2-0);
}


.property.highlight:has(.my-shop-2-1) .icon {
  color: var(--shop-color-2-1);
}
.property:not(.highlight):has(.my-shop-2-1) {
  background-color: var(--shop-color-2-1);
}
.property:not(.highlight):has(.my-shop-2-1)::after {
  border-top: 9px solid var(--shop-color-2-1);
}


.property.highlight:has(.my-shop-2-2) .icon {
  color: var(--shop-color-2-2);
}
.property:not(.highlight):has(.my-shop-2-2) {
  background-color: var(--shop-color-2-2);
}
.property:not(.highlight):has(.my-shop-2-2)::after {
  border-top: 9px solid var(--shop-color-2-2);
}


.property.highlight:has(.my-shop-2-3) .icon {
  color: var(--shop-color-2-3);
}
.property:not(.highlight):has(.my-shop-2-3) {
  background-color: var(--shop-color-2-3);
}
.property:not(.highlight):has(.my-shop-2-3)::after {
  border-top: 9px solid var(--shop-color-2-3);
}


.property.highlight:has(.my-shop-2-4) .icon {
  color: var(--shop-color-2-4);
}
.property:not(.highlight):has(.my-shop-2-4) {
  background-color: var(--shop-color-2-4);
}
.property:not(.highlight):has(.my-shop-2-4)::after {
  border-top: 9px solid var(--shop-color-2-4);
}


.property.highlight:has(.my-shop-2-5) .icon {
  color: var(--shop-color-2-5);
}
.property:not(.highlight):has(.my-shop-2-5) {
  background-color: var(--shop-color-2-5);
}
.property:not(.highlight):has(.my-shop-2-5)::after {
  border-top: 9px solid var(--shop-color-2-5);
}







.property.highlight:has(.my-shop-3-0) .icon {
  color: var(--shop-color-3-0);
}
.property:not(.highlight):has(.my-shop-3-0) {
  background-color: var(--shop-color-3-0);
}
.property:not(.highlight):has(.my-shop-3-0)::after {
  border-top: 9px solid var(--shop-color-3-0);
}


.property.highlight:has(.my-shop-3-1) .icon {
  color: var(--shop-color-3-1);
}
.property:not(.highlight):has(.my-shop-3-1) {
  background-color: var(--shop-color-3-1);
}
.property:not(.highlight):has(.my-shop-3-1)::after {
  border-top: 9px solid var(--shop-color-3-1);
}


.property.highlight:has(.my-shop-3-2) .icon {
  color: var(--shop-color-3-2);
}
.property:not(.highlight):has(.my-shop-3-2) {
  background-color: var(--shop-color-3-2);
}
.property:not(.highlight):has(.my-shop-3-2)::after {
  border-top: 9px solid var(--shop-color-3-2);
}


.property.highlight:has(.my-shop-3-3) .icon {
  color: var(--shop-color-3-3);
}
.property:not(.highlight):has(.my-shop-3-3) {
  background-color: var(--shop-color-3-3);
}
.property:not(.highlight):has(.my-shop-3-3)::after {
  border-top: 9px solid var(--shop-color-3-3);
}


.property.highlight:has(.my-shop-3-4) .icon {
  color: var(--shop-color-3-4);
}
.property:not(.highlight):has(.my-shop-3-4) {
  background-color: var(--shop-color-3-4);
}
.property:not(.highlight):has(.my-shop-3-4)::after {
  border-top: 9px solid var(--shop-color-3-4);
}


.property.highlight:has(.my-shop-3-5) .icon {
  color: var(--shop-color-3-5);
}
.property:not(.highlight):has(.my-shop-3-5) {
  background-color: var(--shop-color-3-5);
}
.property:not(.highlight):has(.my-shop-3-5)::after {
  border-top: 9px solid var(--shop-color-3-5);
}







.property.highlight:has(.my-shop-4-0) .icon {
  color: var(--shop-color-4-0);
}
.property:not(.highlight):has(.my-shop-4-0) {
  background-color: var(--shop-color-4-0);
}
.property:not(.highlight):has(.my-shop-4-0)::after {
  border-top: 9px solid var(--shop-color-4-0);
}


.property.highlight:has(.my-shop-4-1) .icon {
  color: var(--shop-color-4-1);
}
.property:not(.highlight):has(.my-shop-4-1) {
  background-color: var(--shop-color-4-1);
}
.property:not(.highlight):has(.my-shop-4-1)::after {
  border-top: 9px solid var(--shop-color-4-1);
}


.property.highlight:has(.my-shop-4-2) .icon {
  color: var(--shop-color-4-2);
}
.property:not(.highlight):has(.my-shop-4-2) {
  background-color: var(--shop-color-4-2);
}
.property:not(.highlight):has(.my-shop-4-2)::after {
  border-top: 9px solid var(--shop-color-4-2);
}


.property.highlight:has(.my-shop-4-3) .icon {
  color: var(--shop-color-4-3);
}
.property:not(.highlight):has(.my-shop-4-3) {
  background-color: var(--shop-color-4-3);
}
.property:not(.highlight):has(.my-shop-4-3)::after {
  border-top: 9px solid var(--shop-color-4-3);
}


.property.highlight:has(.my-shop-4-4) .icon {
  color: var(--shop-color-4-4);
}
.property:not(.highlight):has(.my-shop-4-4) {
  background-color: var(--shop-color-4-4);
}
.property:not(.highlight):has(.my-shop-4-4)::after {
  border-top: 9px solid var(--shop-color-4-4);
}


.property.highlight:has(.my-shop-4-5) .icon {
  color: var(--shop-color-4-5);
}
.property:not(.highlight):has(.my-shop-4-5) {
  background-color: var(--shop-color-4-5);
}
.property:not(.highlight):has(.my-shop-4-5)::after {
  border-top: 9px solid var(--shop-color-4-5);
}








.property.highlight:has(.my-shop-5-0) .icon {
  color: var(--shop-color-5-0);
}
.property:not(.highlight):has(.my-shop-5-0) {
  background-color: var(--shop-color-5-0);
}
.property:not(.highlight):has(.my-shop-5-0)::after {
  border-top: 9px solid var(--shop-color-5-0);
}


.property.highlight:has(.my-shop-5-1) .icon {
  color: var(--shop-color-5-1);
}
.property:not(.highlight):has(.my-shop-5-1) {
  background-color: var(--shop-color-5-1);
}
.property:not(.highlight):has(.my-shop-5-1)::after {
  border-top: 9px solid var(--shop-color-5-1);
}


.property.highlight:has(.my-shop-5-2) .icon {
  color: var(--shop-color-5-2);
}
.property:not(.highlight):has(.my-shop-5-2) {
  background-color: var(--shop-color-5-2);
}
.property:not(.highlight):has(.my-shop-5-2)::after {
  border-top: 9px solid var(--shop-color-5-2);
}


.property.highlight:has(.my-shop-5-3) .icon {
  color: var(--shop-color-5-3);
}
.property:not(.highlight):has(.my-shop-5-3) {
  background-color: var(--shop-color-5-3);
}
.property:not(.highlight):has(.my-shop-5-3)::after {
  border-top: 9px solid var(--shop-color-5-3);
}


.property.highlight:has(.my-shop-5-4) .icon {
  color: var(--shop-color-5-4);
}
.property:not(.highlight):has(.my-shop-5-4) {
  background-color: var(--shop-color-5-4);
}
.property:not(.highlight):has(.my-shop-5-4)::after {
  border-top: 9px solid var(--shop-color-5-4);
}


.property.highlight:has(.my-shop-5-5) .icon {
  color: var(--shop-color-5-5);
}
.property:not(.highlight):has(.my-shop-5-5) {
  background-color: var(--shop-color-5-5);
}
.property:not(.highlight):has(.my-shop-5-5)::after {
  border-top: 9px solid var(--shop-color-5-5);
}







.property.highlight:has(.fa-exclamation) .icon {
  color: var(--exclamation-color);
}

.property:not(.highlight):has(.fa-exclamation) {
  background-color: var(--exclamation-color);
}

.property:not(.highlight):has(.fa-exclamation)::after {
  border-top: 9px solid var(--exclamation-color);
}

.mymodal {
  background: #fff;
}


.pa100 {
  background-color: #5bc729;
}
.pa85 {
  background-color: #eee025;
}
.pa50 {
  background-color: #e78e09;
}
.pa0 {
  background-color: #e70909;
}


.card-half {
  display: flex;
}



.delivery-type {
  background-color: #ccc !important;
}
.delivery-type1 {
  background-color:#FFFAE5 !important;
}
.delivery-type2 {
  background-color:#FFD580  !important;
}
.delivery-type3 {
  background-color:#87CEEB  !important;
}
.delivery-type4 {
  background-color:#6A5ACD  !important;
}